body{
    background-color: cadetblue;
    margin-left: 2vh;
}

a{
    color: blue;
}
textarea {
    overflow-y: scroll;
    height: 100px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}